<!DOCTYPE html>
<html>
<head>
<title>Hyde</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style-home.css') }}">
</head>
<body>

<div class="header">
    <div class="dropdown">
        <div class="icon">&#9776;</div>
        <div class="dropdown-content">
            <a href="#terms">Terms and Policy</a>
            <a href="#help">Help</a>
            <a href="#about">About</a>
        </div>
    </div>
    <h1>Hyde</h1>
        <div class="dropdown">
            <div class="icon">
                <img src="{{ url_for('static', filename='img/logo1-hyde.png') }}" alt="Icon" class="icon">
            </div>
            <div class="dropdown-content">
                <a href="#profile">Profile</a>
                <a href="#settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
    </div> 
</div>

</div>
<form method="POST" onsubmit="showSpinner()">
    <img src="{{ url_for('static', filename='img/logo1-hyde.png') }}" alt="Hyde Logo" class="logo"> 
    <div class="content">
        <div class="scan-button-container">
            <button class="scan-button" type="submit" name="scancommand">SCAN </button>
            <button class="scan-button" type="submit" name="restart">RESTART</button>
            <button class="scan-button" type="submit" name="download">SHOW RESULT</button>
            <button class="scan-button" type="submit" name="stop">STOP</button>
            <div class="spinner" id="spinner"></div> <!-- Spinner element -->
            <div class="scanning-text" id="scanning-text">Running please wait...</div> <!-- Scanning text element -->    
        </div>
 
    </div>
</form>
<form class = "command" method="POST">
    <div class="command-container">
    <input type="text" name="command" placeholder="Enter SSID" required>
    <button type="submit">Run</button>
    </div>
</form>

<div class="output-container">
    <div class="output-box">
        <h2>OUTPUT</h2>
        <pre>{{ output }}</pre>
    </div>
    <div class="output-box">
        <h2>ERROR</h2>
        <pre>{{ error }}</pre>
    </div>
</div>

<script>
function showSpinner() {
    document.getElementById('spinner').style.display = 'block';
    document.getElementById('scanning-text').style.display = 'block';
}
</script>

</body>
</html>