<!DOCTYPE html>
<html>
<head>
<title>Hyde Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style-login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style-flash-message.css') }}">
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form class="login-form" action="/login" method="post">
        <img src="{{ url_for('static', filename='img/logo2-hyde.png') }}" alt="Hyde Logo">

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <a><img src="{{ url_for('static', filename='img/icon-eye_close.png') }}" 
            data-eye-open="{{ url_for('static', filename='img/icon-eye_open.png') }}"
            data-eye-closed="{{ url_for('static', filename='img/icon-eye_close.png') }}"
            class='eye-icon'></a>
        <br><br>
        <div class="button-container">
            <button type="submit">LOGIN</button>
            <p>No account yet? <a href="/register">Create New Account</a></p>
        </div>
    </form>

    <div class="info">
        <h2>HYDE is an educational tool designed to simulate an evil twin attack. It demonstrates how hackers can easily create fake Wi-Fi networks to intercept and potentially steal sensitive information.</b>
        This device is intended solely for educational purposes. It should never be used to harm or damage any person, device, or network.
        By understanding how these attacks work, you can take steps to protect yourself and your devices from cyber threats.</h2>
    </div>
</div>
<script src="{{ url_for('static', filename='js/flash_fade.js') }}"></script>
<script src="{{ url_for('static', filename='js/toggle_password.js') }}"></script>
</body>
</html>
